<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table border="1">
    <caption>List of Cars</caption>
    <thead>
    <tr>
        <th>Car Model</th>
        <th>Car Series</th>
        <th>Owner Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${carList}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getSeries()}"></td>
        <td th:text="${car.getOwnerName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>